.task4btn{
   height: 50px;
   width: 200px;
   border-radius: 20px;
  font-size: 20px;
  background-color: #FFFFFF4D;
  color: white;
}
.task44btn{
   align-items: center;
   justify-content: center;
   padding: 40px;
}


