.card-3{
    height: 450px;
    width: 250px;
    text-align: center;
    flex-direction: column; 
    border: 3px solid white;
    border-radius: 20px;}
.img{
    height: 234px;
    width: 234px;
    scale: "fit";
}
.card3{
    text-align: center;
}
