.card1{
    height: 450px;
    width: 320px;
    text-align: center;
    color: white;
    justify-items: center;
    /* display: flex; */
    flex-direction: column;
    border: 3px solid white;
    border-radius: 20px;
}
.card1img{
    width: 362;
    height: 482;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    scale: "fit";   
}

p{
    color: white;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 35px;
}
.bt1{
    align-items: center;
    background-color: white;
    color: red;
    border-radius:30px; 
    padding: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    border: none;
}