.foot{
    text-align: center;
    color: white;
    background-color: #B5252E;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 100px;
}
.cc{
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
}